.customers-form-bg {
    background-color: #ffffff;
    border: 15px solid;
    border-radius: 15px;
    border-color: #ffffff;
}

.customer-profile {
    font-size: 220px;
}

.customer-list-profile {
    font-size: 120px;
}

.customer-referred-checkbox {
    width: 10%;
    text-align: left;
}
