<section data-ng-controller="CustomersController">
    <h3 class="col-md-12 text-center">New Customer</h3>
    <div class="col-md-12">
        <form class="" data-ng-submit="create()" novalidate>
            <fieldset>
                <div class="row">
                    <div class="form-group">
                        <div data-ng-show="error" class="text-center text-danger">
                            <div class="alert alert-danger" role="alert">
                                <strong data-ng-bind="error"></strong>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 text-center">
                        <i class="glyphicon glyphicon-user customer-profile" ng-class="{'text-primary': referred, 'text-danger': !referred}"></i>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label class="control-label" for="firstName">First Name</label>
                            <div class="controls">
                                <input type="text" id="firstName" data-ng-model="firstName" class="form-control">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label" for="lastName">Last Name</label>
                            <div class="controls">
                                <input type="text" id="lastName" data-ng-model="lastName" class="form-control">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label" for="suburb">Suburb</label>
                            <div class="controls">
                                <input type="text" id="suburb" data-ng-model="suburb" class="form-control">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label" for="country">Country</label>
                            <div class="controls">
                                <input type="text" id="country" data-ng-model="country" class="form-control">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6 col-sm-push-6">
                        <div class="form-group">
                            <label class="control-label" for="phone">Phone</label>
                            <div class="controls">
                                <input type="text" id="phone" data-ng-model="phone" class="form-control">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label" for="email">Email</label>
                            <div class="controls">
                                <input type="text" id="email" data-ng-model="email" class="form-control">
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-sm-pull-6">
                        <div class="form-group">
                            <label class="control-label" for="referred">Referred</label>
                            <div class="controls">
                                <input type="checkbox" id="referred" data-ng-model="referred" class="form-control customer-referred-checkbox">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label" for="channel">Channel</label>
                            <div class="controls">
                                <input type="text" id="channel" data-ng-model="channel" class="form-control">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label class="control-label" for="industry">Industry</label>
                            <div class="controls">
                                <input type="text" id="industry" data-ng-model="industry" class="form-control">
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <button type="submit" class="btn btn-success">Save & Close</button>
                        </div>
                    </div>
                </div>
                <div class="form-group">

                </div>
            </fieldset>
        </form>
    </div>
</section>
